body {
    background-image: url('../image/wiiu/bg.png');
    background-color: #fff;
    background-size: 150px;
    animation: backgroundanimation 10s linear infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: wiiu, sans-serif;
    color: #575757;
    text-shadow: 2px 2px 2px #eee;
    height: 200vh;
}
@font-face {
    font-family: wiiu;
    src: url('../font/FOT-RodinNTLG Pro DB.otf') format('woff');
}
@font-face {
    font-family: wii;
    src: url('../font/Digital Sans EF Medium.ttf') format('truetype');
}
    @keyframes backgroundanimation {
        from {
            background-position: 0 0;
        }

        to {
            background-position: 0 150px;
        }
    }
.first-header {
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-size: 3vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-family: wii, sans-serif;
    color: #aaa;
}
    .first-header img {
        width: 100%;
        max-width: 2.5vw;
        position: relative;
        bottom: 0.3vw;
    }

        .first-header b {
            font-weight: bold;
        }

        .select-console {
            border-radius: 10%;
            opacity: 0.8;
            box-shadow: 0px 0px 20px #ccc;
            width: 20vw;
            transition: transform 0.1s ease-in-out;
        }

            .select-console:hover {
                transform: scale(1.05);
            }

            .select-console:active {
                transform: scale(1);
            }

.top-header {
    position: fixed;
    z-index: 9999;
    background-image: linear-gradient(180deg, #00aeff, #0062ff);
    opacity: 0.8;
    height: 5vh;
    width: 75vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 1vw;
    display: flex;
}

            .top-header button {
                height: inherit;
                width: 15%;
                border: none;
                background-image: inherit;
                color: #fff;
                cursor: pointer;
                filter: brightness(1s);
                transition: 0.2s ease-in-out;
                overflow: hidden;
            }

                .top-header button img {
                    width: 100%;
                    max-width: 100px;
                    object-fit: cover;
                    overflow: hidden;
                    height: auto;
                }

                .top-header button:hover {
                    filter: brightness(1.5);
                }
